<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
     <script type="text/javascript">
       google.charts.load("current", {packages:["corechart"]});
       google.charts.setOnLoadCallback(drawChart);
       google.charts.setOnLoadCallback(drawChart1);
       google.charts.setOnLoadCallback(drawChart2);
       function drawChart() {
         var data = google.visualization.arrayToDataTable([
           ['Task', 'Sentiments'],
           ['Positive', {{ dict.r_p}}],
           ['Negative', {{ dict.r_neg}}],
           ['Neutral',  {{ dict.r_neu}}],
         ]);

         var options = {
           title: 'Reddit sentiment analysis:',
           is3D: true,
         };

         var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
         chart.draw(data, options);
       }
       function drawChart1() {
         var data = google.visualization.arrayToDataTable([
           ['Task', 'Sentiments'],
           ['Positive', {{ dict.a_p}}],
           ['Negative', {{ dict.a_neg}}],
           ['Neutral',  {{ dict.a_neu}}],
         ]);

         var options = {
           title: 'Amazon sentiment analysis:',
           is3D: true,
         };

         var chart = new google.visualization.PieChart(document.getElementById('piechart_3d1'));
         chart.draw(data, options);
       }
       function drawChart2() {
         var data = google.visualization.arrayToDataTable([
           ['Task', 'Sentiments'],
           ['Positive', {{ dict.t_p}}],
           ['Negative', {{ dict.t_neg}}],
           ['Neutral',  {{ dict.t_neu}}],
         ]);

         var options = {
           title: 'twitter sentiment analysis:',
           is3D: true,
         };

         var chart = new google.visualization.PieChart(document.getElementById('piechart_3d2'));
         chart.draw(data, options);
       }
     </script>
</head>
<body>
  <form method="post">
    {% csrf_token %}
    {{ dict.form }}
    <br>
    <button type="submit" name="button">Analyze</button>
  </form>
  <!-- <textarea name="name" rows="80" cols="80">{{ dict.con }}</textarea> -->
  <div class="fk">
    <div id="piechart_3d" style="width: 1000px; height: 600px;"></div>
    <div id="piechart_3d1" style="width: 1000px; height: 600px;"></div>
    <div id="piechart_3d2" style="width: 1000px; height: 600px;"></div>
  </div>
  <button type="button" class="nxt" onclick="location.href='/reviews'">Review</button>
</body>
<style media="screen">
  button{
    width: 120px;
    height: 40px;
    margin-left: 560px;
    border-radius: 10px;
    margin-top: 13px;
    border: 1px solid white;
  }
  .link{
    width: 600px;
    height: 40px;
    margin-left: 310px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 30px;
  }
  textarea{
    margin-left: 400px;
  }
  .fl{
    display: flex;
  }
</style>
</html>
