<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Top 5 reviews</title>
  </head>
  <body>
    <label>Review-1</label>
    <p>{{ dict1.f }}</p>
    <label>Review-2</label>
    <p>{{ dict1.s }}</p>
    <label>Review-3</label>
    <p>{{ dict1.t }}</p>
    <label>Review-4</label>
    <p>{{ dict1.fo }}</p>
    <label>Review-5</label>
    <p>{{ dict1.fi }}</p>
  </body>
  <style media="screen">
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
    p{
      padding:15px;
      margin-top:20px;
      margin-left:80px;
      margin-right:80px;
      border-radius:12px;
      box-shadow: 8px 18px 14px #ECF0F1;
      align:center;
      font-style: italic;
      font-size:15px;
      font-family: 'Roboto', sans-serif;
    }
    label{
      font-size: 25px;
      font-weight:bold;
      font-family: 'Roboto', sans-serif;
    }
  </style>
</html>
